# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
env:
  SOURCE_BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
  GOPRIVATE: github.com/voonik

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
#       - name: Setup GO
#         uses: actions/setup-go@v2
#         with:
#           go-version: '1.16.3'
      - name: Setup Env Vars and work dir
        run: |
          test -d "GoLang/src/github.com/voonik/jsonstore" || mkdir -p "GoLang/src/github.com/voonik/jsonstore"

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          path: GoLang/src/github.com/voonik/jsonstore

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          sudo apt-get update
          sudo apt-get install -y git
          echo Add other actions to build,
          echo test, and deploy your project.
          cp GoLang/src/github.com/voonik/jsonstore/report.xml ./
          cd GoLang/src/github.com/voonik/jsonstore
          pwd
          ls
          git branch
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v2
        with:
          report_paths: 'GoLang/src/github.com/voonik/jsonstore/'
          
          
          
